NAME            = "${LAB_NET}"
VN_MAD          = "bridge"
BRIDGE          = "${LAB_BRIDGE}"
NETWORK_ADDRESS = "${LAB_NETWORK}"
NETWORK_MASK    = "${LAB_NETMASK}"
GATEWAY         = "${LAB_GATEWAY}"
DNS             = "${LAB_DNS}"
AR = [ TYPE = "IP4", IP = "${LAB_AR_START}", SIZE = "${LAB_AR_SIZE}" ]
